/*Pseudo Element*/
p::first-line{
    font-weight:bold;
    color: darkred;
    word-spacing: 2px;
    letter-spacing: 2px;
}
p::first-letter{
    font-size: 50px;
}
/*Pseudo Class*/
ul li{
    padding: 10px;
    margin-bottom: 10px;
}
ul li:first-child{
    background-color: darkseagreen;
}
ul li:last-child{
    background-color: brown;
}
a:visited{
    color: fuchsia;
}
a:hover{ 
    color: white;
    background-color: aquamarine;
}
a {
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    width: 100px;
    margin-bottom:10px;
}